[2021-06-04 13:53] OrchardPerformance opened #32 "Define scope - Which engines are we hoping to cover?"
88pin BMW covers a lot of ground. From the top of my head I can think of:

Bosch
M1.7 - E30 M42
M1.7.2- E36 M42
M1.7.3 - Z3 M44
M3.1 - M50
M3.3 - M60 and Pre-1995 Euro M3
M3.3.1 - M50tu and Pre-1995 USA M3
M5.2 - E36/Z3 M44 and M62 and M73

Siemens
MS41.0 - E36 M52
MS41.1 - E39 M52
MS41.2 - E36 M3 USA Post 1995

Note - To be clear I don't mind which we support but we should be VERY clear which one

[2021-07-07 00:54] rusefillc opened #1 "We need ETB"
That ETB which we have removed?

@stefanst says we need it

6 pin JST for pedal pigtail connector
    two position sensors - analog inputs same as pedal on Nissan121 or vag 121
    two GND
    two 5v

4 pin JST for low current of TPS pigtail connector
    two position sensors - analog inputs same as TPS on Nissan121 or vag 121. one of these sensors also wired into 88 pin if this car has potentiome

[2021-08-14 14:34] rusefillc commented on #1
@ivanchuba please show me "6 pin JST" on the PCB

same "Molex MiniFit Jr. 2-pin connector for DC motor"

[2021-08-14 15:30] ivanchuba commented on #1
![image](https://user-images.githubusercontent.com/2463786/129451296-6fefcbe8-0b66-464b-b6a6-db9b2c8427d9.png)

[2021-08-14 15:33] ivanchuba commented on #1
![image](https://user-images.githubusercontent.com/2463786/129451366-6ca3fb43-73f4-43f0-a554-b795c4c20fa5.png)

[2021-08-15 08:46] rusefillc commented on #1
are those 2.54 headers or JST with JLC part numbers?

do we need to improve silkscreen of those?

[2021-08-15 22:57] ivanchuba commented on #1
2.54 headers
silkscreen for PINs is a bottom side

[2021-08-16 06:28] rusefillc commented on #1
We really need those to be JST connectors with JLC part numbers

if we are badly out of space first thing to be removed would be "GND" P1 of WBO - that way we can shift all other holes and get space?

![image](https://user-images.githubusercontent.com/48498823/129520364-d497cc3e-4707-4c89-8f26-7956540a15e2.png)

[2021-08-16 11:51] ivanchuba commented on #1
there was enough space

[2021-08-17 12:28] OrchardPerformance opened #2 "Pin 2 - ICV close (currently NC)"
Pin 2 should be the close winding of the ICV, we support 2 wire mode so we should probably use it and not be using resistors or any hacks to run the ICV

[2021-08-17 12:29] OrchardPerformance opened #3 "Pin 8 - Check engine light (currently NC)"
We should connect the check engine light as the software will use the light in future to warn of errors. (it is in the smart ECU plans).

[2021-08-17 12:32] OrchardPerformance opened #4 "Pin 11 - TPS out to transmission control"
Low priority

We can probably provide the TPS signal to the transmission controller, afaik it is a simple unit and is a 0-5v signal used for kickdown, I think it mirrors the existing TPS signal so maybe just a jumper?

We can check this and maybe do something with later versions to work with the auto.

[2021-08-17 12:46] OrchardPerformance opened #5 "Double check MAF meter pins 14 and 41"
I have the MAF working connected to my frankenso, let me double check what I wired to each pin before we order.
I think I put this info into my E30 thread but will either have to check there or on the car.
If I forget you have permission to phone me and make me go do it.

To add - they are not clear on the schematics what the exact function of the pins are, I think I had to do a bit of hardware te

[2021-08-17 12:53] OrchardPerformance opened #6 "Pin 20/21 - USB connection"
Not a good idea to put the USB on these pins, the ignition drivers are inside the ECU and directly connected via pin 22 - 25 and 49 - 52. This means pin 21 has high power ignition pulses right next to it. I think this will cause so much noise the USB will not work at all when engine is running.

[2021-08-18 06:14] rusefillc opened #7 "osc part number"
![image](https://user-images.githubusercontent.com/48498823/129846971-cd767ffa-1cbd-490e-94b3-9cd957b4b8ea.png)

I found the reason should be there is no price for the part #:C112566.

need a PN with price

[2021-08-18 12:06] OrchardPerformance opened #8 "Pin 36 - EVAP valve (Currently NC)"
We should connect the evap valve to a low side so it can be operated via GPIO, it is part of the PCV system on the M5x engine

[2021-08-18 12:10] OrchardPerformance opened #9 "Pin 42 - VSS input"
The VSS on the E30/36 is a mechanical reed switch, previously when I had it connected to the frankenso on my E30 I was not able to get it to function as expected, we may need to check out the details of the switch and make sure we can reed it correctly.
Either myself or Stephan would be able to do this.

[2021-08-18 12:12] OrchardPerformance opened #10 "M50 cam sensor difference"
Non VVT (non Vanos) M50 engines with the M3.1 ECU are 88 pin and use a VR sensor for the cam.
VVT/VANOS M50TU uses the M3.3.1 ECU with 88pin and a Hall sensor.
The are nearly perfectly pin compatible but this could be a problem if we do not allow for it in the design.

[2021-08-18 12:25] OrchardPerformance opened #11 "Pin 46 - TI output"
This is the fuel consumption output to get the dash econometer and the on board computer to show consumption and range correctly.
I believe we will be able to provide this signal but we currently have nothing in software.
I think the signal is a 12v pulse equal to the pulse width with a small modification for dead time. It is only accurate for the standard injectors for the car.
We will need to be

[2021-08-18 12:40] OrchardPerformance opened #12 "Pin 48 - AC compressor (Currently NC)"
We can control AC so we should connect this.

[2021-08-18 12:43] OrchardPerformance opened #13 "Check BMW relay config"
If wired correctly the ECU will power up as OEM via the DME relays, if not it will get stuck on.
Task here to review +12v connections against BMW wiring diagrams.

[2021-08-18 12:49] OrchardPerformance opened #14 "Pin 64 - AC on switch"
Can be controlled so should be connected

[2021-08-18 12:49] OrchardPerformance opened #15 "Pin 65 - AC pressure switch"
Possibly useful to provide feedback that the AC is on and loading the engine, might make for better AC control.

[2021-08-18 13:46] OrchardPerformance commented on #11
I believe this requires a simple lowside

[2021-08-18 14:04] OrchardPerformance commented on #13
Pin 26 - 12v at all times, large red wire
Pin 27 - Switched lowside for main relay activation, small brown wire
Pin 54 - 12v switched by main relay, large red/white wire
Pin 56 - 12v switched by ignition barrel

Red/White wires power the injectors, vvt ect from the main relay.
Red wires are 12v permanent on, direct connection to battery through main fuse
Green wires are 12v switched by ignition sw

[2021-08-18 18:11] andreika-git commented on #7
![image](https://user-images.githubusercontent.com/15104768/129950300-9fe6e727-c9d4-40d3-8c0d-e1134f1e1c84.png)

[2021-08-18 18:28] rusefillc commented on #7
JLC has resolved on their end

[2021-08-18 18:28] #7 closed, assigned to andreika-git

[2021-08-19 04:51] andreika-git opened #16 "MAIN_RELAY is totally *ed up!"
![image](https://user-images.githubusercontent.com/15104768/130009546-c2ad2497-c6b0-4d74-9fcd-7d602a1ab2c8.png)
![image](https://user-images.githubusercontent.com/15104768/130009594-90a9d1b6-1e53-4da8-a68b-a5bd1ab18b59.png)
![image](https://user-images.githubusercontent.com/15104768/130009642-7ec12ab3-cc29-4815-8858-1891de3ff04c.png)
![image](https://user-images.githubusercontent.com/15104768/1300

[2021-08-19 05:07] andreika-git opened #17 "CLT/IAT are *ed up"
![image](https://user-images.githubusercontent.com/15104768/130010752-c4ae13c3-22d6-4364-9cc3-fd82a44f0077.png)

[2021-08-19 05:17] andreika-git opened #18 "Solenoid flyback diodes? Idle solenoid?"
Do we have at least one solenoid in this car? Maybe the idle valve?
Then we need flyback diodes for them like on the other boards:
![image](https://user-images.githubusercontent.com/15104768/130011621-b6273f7e-dd18-4d6f-acce-972b8596a71f.png)
Currently I don't see any of those on the board.

[2021-08-19 07:23] andreika-git commented on #8
Let's use OUT_LOW3_DUAL + flyback diode

[2021-08-19 07:31] andreika-git commented on #3
@OrchardPerformance Is CE lamp lowside-active or highside-active?

[2021-08-19 07:39] andreika-git commented on #12
@OrchardPerformance OUT_LOW4_DUAL (max.current 1A) would be enough? They use 5A fuse for that relay...
![image](https://user-images.githubusercontent.com/15104768/130027947-b91a8531-3842-4b22-986d-81ea9051fc42.png)

[2021-08-19 07:46] andreika-git commented on #14
@OrchardPerformance Is it 100% digital? Is it low-active or high-active? We need to know the pull-up/pull-down config.

[2021-08-19 07:46] andreika-git commented on #15
@OrchardPerformance Is it 100% digital? Is it low-active or high-active? We need to know the pull-up/pull-down config.

[2021-08-19 07:47] andreika-git commented on #18
Maybe we should also use a separate power MOSFET for idle actuator as in HellenNB2?

[2021-08-19 08:43] rusefillc commented on #32
@stefanst @OrchardPerformance please review bottom of https://github.com/rusefi/rusefi/wiki/Hellen-88-BMW#supported

We have 8 cylinder on the board now

I am looking for help with 1.7 and 5.2 stuff

[2021-08-19 09:04] mck1117 opened #31 "ETB TPS/PPS headers need dual redundant inputs"
Between TPS and PPS, 4 analog inputs are required, weak pulldown to ground.  Ideally these inputs are NOT shared with any pin on the main connector.

[2021-08-19 09:43] rusefillc commented on #16
@ivanchuba please elaborate on what went wrong here. We've touched this area twice already, where is the misunderstanding happening - is the problem with the wiring diagram? is the problem with naming on the modules? else?

[2021-08-19 10:32] rusefillc commented on #17
@ivanchuba this is very sad :(

[2021-08-19 10:54] rusefillc commented on #31
@mck1117 let's be more specific

how about 470K pull-down? @ivanchuba we can go 0402 if we have space concerns

[2021-08-19 10:59] ivanchuba commented on #31
there is a place

[2021-08-19 12:13] rusefillc commented on #18
@andreika-git do we have documentation for current limits of

![image](https://user-images.githubusercontent.com/48498823/130066319-6e779fd3-e5b0-4d5e-a691-fdbff7c4538f.png)

Shall we rename OUT_LOW1 to OUT_LOW1_RELAY or OUT_LOW1_LOGIC or OUT_LOW1_LOW_CURRENT or something to make it more self-documenting?

[2021-08-19 12:36] andreika-git commented on #18
https://github.com/andreika-git/hellen-one/wiki/module-output

[2021-08-19 13:33] OrchardPerformance commented on #32
OK. Will review board as primary M3.3/M3.3.1 and keep M3.1/M1.7 and M5.x in mind

[2021-08-19 13:37] OrchardPerformance commented on #8
I will check the ohms of the valve (its hanging loose in my e30) your suggestion will probably be OK.

[2021-08-19 16:55] mck1117 commented on #31
Can you point out on the board where this exists?

[2021-08-19 18:25] rusefillc commented on #16
Подключение главного реле перепутано напрочь:
- "MAIN_RELAY" и "OUT_MAIN" поменялись местами
- выходы на главное реле замыкаются на входы
- почему-то подключаются к шинам зажигания и инжекторов, что ещё больше запутывает

Как должно быть сделано правильно:
- выход модуля mcu OUT_IO1 - это MAIN_RELAY
- MAIN_RELAY идёт на LOW5_MAIN модуля output
- выход OUT_LOW5_MAIN модуля output - это OUT_MAIN
- O

[2021-08-19 18:25] rusefillc commented on #17
Цепи от коннектора до входа модуля input должны быть IN_CLT и IN_IAT, а цепи с выхода модуля input на вход модуля mcu должны быть CLT и IAT. Это разные цепи. А сейчас входы и выходы просто накоротко замкнуты между собой - это не очень красиво получается, если честно...

[2021-08-19 18:26] rusefillc commented on #6
нужно пока как минимум заменить джамперы JP20 и JP21 на "DNP" (и тикет пока не закрывать)

[2021-08-19 18:27] rusefillc commented on #8
нужно сделать (OUT_LOW3_DUAL+diode), плюс не забыть соединить LOW3_DUAL с OUT_IOx у mcu

[2021-08-19 18:27] rusefillc commented on #13
нужно пока заменить джампер JP54 на "DNP" (и тикет пока не закрывать)

[2021-08-19 18:27] rusefillc commented on #15
let's just add a VIA for now and keep ticket open

[2021-08-19 18:28] rusefillc commented on #14
let's just add a via for now and keep ticket open

[2021-08-19 18:29] rusefillc commented on #12
let's have a jumper and OUT_LOW4_DUAL and try this

[2021-08-19 18:29] rusefillc commented on #11
just a via for now and keep ticket open

[2021-08-19 18:30] rusefillc commented on #4
just a via for now and keep ticket open

[2021-08-19 18:31] rusefillc commented on #2
@OrchardPerformance is this the dual-solenoid idle valve like subaru?

@ivanchuba need same high-current MOSFET and same diode like the other channel of idle solenoid

[2021-08-23 19:52] ivanchuba commented on #31
For PPS position:
![image](https://user-images.githubusercontent.com/2463786/130510245-4e395276-aa1f-408b-8b5a-642c4ea04766.png)

For TPS position:
![image](https://user-images.githubusercontent.com/2463786/130510521-9ecfe9e8-2083-487e-8393-55e7e179491f.png)

[2021-08-23 20:07] mck1117 commented on #31
I have the file open in KiCad and can't find that.  Can you make sure you're up to date?

[2021-08-23 20:29] ivanchuba commented on #31
@mck1117  I have not updated yet, in 2-3 hours it will be available

[2021-08-23 20:30] mck1117 commented on #31
OK.  There should be three headers:

- one with gnd, 5v, pps1, pps2
- one with gnd, 5v, tps1, tps2
- one with motor+ and motor-

[2021-08-23 20:47] ivanchuba commented on #31
@mck1117  also for "one with motor+ and motor-" ?

[2021-08-23 22:15] ivanchuba commented on #16
done

[2021-08-23 22:15] #16 closed, assigned to ivanchuba

[2021-08-23 22:15] ivanchuba commented on #12
done

[2021-08-23 22:15] #12 closed, assigned to ivanchuba

[2021-08-23 22:16] ivanchuba commented on #8
done

[2021-08-23 22:16] #8 closed, assigned to ivanchuba

[2021-08-23 22:16] ivanchuba commented on #17
done

[2021-08-23 22:16] #17 closed, assigned to ivanchuba

[2021-08-23 22:17] ivanchuba commented on #6
done

[2021-08-23 22:17] ivanchuba commented on #13
done

[2021-08-23 22:20] ivanchuba commented on #31
please check

[2021-08-23 22:24] ivanchuba commented on #1
@rusefillc please check ETB connection

[2021-08-23 22:46] mck1117 commented on #31
this?

![image](https://user-images.githubusercontent.com/568254/130528967-1c2f1afe-5485-4461-9d4d-e37848c89382.png)

why do some wires go to both headers?

[2021-08-24 09:54] rusefillc commented on #5
41 we have jumper we are good to fix if needed

![image](https://user-images.githubusercontent.com/48498823/130596665-3977d138-516d-4883-ab56-f63cedaa3afe.png)

@ivanchuba we need jumper on 14 just in case
![image](https://user-images.githubusercontent.com/48498823/130596702-c02eeb34-f872-4dc7-9ff9-1313b727268e.png)

@ivanchuba please add jumper and assign back to @OrchardPerformance

[2021-08-24 09:55] rusefillc commented on #3
@ivanchuba please add a via for now #20

[2021-08-24 09:57] rusefillc commented on #10
I see jumpers on relevant pins we can probably survive first engine start

![image](https://user-images.githubusercontent.com/48498823/130597013-8e72e2da-cab3-45dd-a268-4543e2aec06c.png)

![image](https://user-images.githubusercontent.com/48498823/130597070-cb75d6bc-d720-4712-b554-af4459e07c2b.png)

[2021-08-24 09:59] rusefillc commented on #13
@andreika-git @stefanst can you please validate? that's a sore and important subject

[2021-08-24 10:02] rusefillc commented on #31
@mck1117 please validate

[2021-08-24 20:24] mck1117 commented on #31
what do you mean? I don't see anything that has changed.

[2021-08-24 20:29] rusefillc commented on #31
@ivanchuba please type "done" only after push
@ivanchuba please do not type "done" before push

[2021-08-28 21:49] ivanchuba commented on #31
@rusefillc plese read " mck1117 closed this 5 days ago", I not closed and not writed done, only "please check" and writed this after push

[2021-08-28 23:07] ivanchuba commented on #3
@OrchardPerformance not have answer?

[2021-08-28 23:14] OrchardPerformance commented on #3
Will try to check when its daylight tomorrow

[2021-08-28 23:16] ivanchuba commented on #15
@OrchardPerformance not have answer?

[2021-08-28 23:17] ivanchuba commented on #3
@OrchardPerformance ok, thanks

[2021-08-28 23:21] ivanchuba commented on #31
done, please check

[2021-08-28 23:23] ivanchuba commented on #1
@rusefillc  please check

[2021-08-28 23:24] ivanchuba commented on #5
done, please check

[2021-08-28 23:24] ivanchuba commented on #18
done, please check

[2021-08-28 23:25] ivanchuba commented on #14
@OrchardPerformance not have answer?

[2021-08-29 05:31] mck1117 commented on #31
this part looks ok:

![image](https://user-images.githubusercontent.com/568254/131239580-00d2b66c-85f9-4506-98c6-94027da24f63.png)

this part, not.

![image](https://user-images.githubusercontent.com/568254/131239665-2acd7641-5f7d-447d-afd6-295a07e6c812.png)

PPS1/2 and TPS1/2 go to IN_PPS, IN_AUX2, IN_AUX1, and IN_AUX3 respectively.  Some of those are configured for pullup, one for pulldown, and

[2021-08-29 07:28] rusefillc opened #19 "access via for pins 64 and 65"
just a via for pins 64 and 65

[2021-08-29 07:28] rusefillc commented on #14
@ivanchuba please just implement #19 and ignore the rest for now

[2021-08-29 07:30] rusefillc commented on #15
@ivanchuba just take care of #19 for now

[2021-08-29 07:31] rusefillc commented on #1
Good enough for now

[2021-08-29 07:31] #1 closed

[2021-08-29 16:37] ivanchuba commented on #31
@andreika-git @rusefillc  maybe I need to help with this

[2021-08-29 22:31] rusefillc commented on #18
Давай поставим наши любимые B5819W (C8598) 1A rated?

[2021-08-31 09:16] rusefillc commented on #31
IN_PPS, IN_AUX2, IN_AUX1, and IN_AUX3 should all be pull-down

please consult hellen121vag in terms of how pedal is handled there maybe external additional 470K are not needed at all since pull_* would do the job

[2021-08-31 09:18] rusefillc commented on #18
B5819W and  separate power MOSFET like https://github.com/rusefi/rusefi/wiki/Hardware/Hellen/hellen72-d-schematic.pdf same as on injector output channels just manual schematics

[2021-08-31 09:19] rusefillc commented on #2
@ivanchuba need same high-current MOSFET and same diode like the other channel of idle solenoid

so in total please manually add two ZXMS6005SGTA same as Q312

this is very related to https://github.com/rusefi/hellen88bmw-issues/issues/18

[2021-08-31 09:21] rusefillc opened #20 "Pin 8 - Check engine light - just a via"
we need a via for pin 8

[2021-08-31 09:38] rusefillc commented on #20
![image](https://user-images.githubusercontent.com/48498823/131479894-f5ad3260-8ccb-47b4-93ad-3c2a819905bd.png)

[2021-08-31 09:38] #20 closed, assigned to ivanchuba

[2021-08-31 15:46] ivanchuba commented on #31
![image](https://user-images.githubusercontent.com/2463786/131534207-1ee90c27-918d-4cdb-b279-1afaa947be6b.png)
done

[2021-08-31 15:49] ivanchuba commented on #19
![image](https://user-images.githubusercontent.com/2463786/131534757-f785db9c-404e-4596-b5a7-2623627e62d0.png)
done

[2021-08-31 15:50] ivanchuba commented on #18
![image](https://user-images.githubusercontent.com/2463786/131534903-6c38b591-73ae-4bdb-b0f2-9188f919295b.png)
done

[2021-08-31 15:52] ivanchuba commented on #2
![image](https://user-images.githubusercontent.com/2463786/131535208-4e72d841-6092-405f-8682-ce680a934ab4.png)
done

[2021-08-31 15:52] ivanchuba commented on #11
![image](https://user-images.githubusercontent.com/2463786/131535301-08424828-d582-4f57-a04c-48cdc3cf9121.png)
done

[2021-08-31 15:53] ivanchuba commented on #5
![image](https://user-images.githubusercontent.com/2463786/131535519-013abf02-dc2a-4717-8e88-3ce6282d7d36.png)

[2021-08-31 15:54] ivanchuba commented on #4
![image](https://user-images.githubusercontent.com/2463786/131535590-e909fd85-beeb-481a-b6ba-fe3b5f242396.png)

[2021-09-01 06:07] andreika-git opened #21 "ETB capacitors voltage rating"
0603-6.3V capacitors are not enough for 12V rail. We should use at least 0805-25V capacitors (C15850)
![image](https://user-images.githubusercontent.com/15104768/131620344-26db49cb-f44d-4c6a-b557-6576455c6197.png)
![image](https://user-images.githubusercontent.com/15104768/131620355-9599a4ec-513d-4315-8671-738d22da4493.png)

[2021-09-01 06:38] rusefillc commented on #21
@ivanchuba please confirm that H-bridge schematics matches hellen121vag exactly

[2021-09-04 19:47] rusefillc opened #30 "MPX4 hardware would destroy PCB tracks"
If you screw the MPX4 with screws and nuts, the tracks on the PCB will suffer

[2021-09-04 19:54] rusefillc opened #22 "high voltage track gaps"
@Qwerty-OFF what is the official track gap we have settled on for coil drivers on https://github.com/rusefi/hellen128mercedes ?

@ivanchuba track gaps would have to be wider since we design for XXX voltage (200? 300? 500?)

[2021-09-04 19:56] rusefillc opened #29 "How many MAP sensors do we have?"
Let's reiterate

MPX4
MPXA6115A
LPS25HB

which one is where and why

[2021-09-04 20:00] mck1117 commented on #30
megasquirt boards with mpx4 series MAP sensors use nylon nuts/screws

[2021-09-04 20:03] mck1117 commented on #31
nope - aux1/2/3/4 have a 10k resistor inside the input module, so those will need an external high-value pulldown, and no-connect on PULL_AUXn

[2021-09-04 20:09] Qwerty-OFF commented on #22
0.8mm for coated tracks, 0.25mm for inner layers and 2.5mm between high voltage and other pads
![image](https://user-images.githubusercontent.com/4116383/132106844-70d17867-bd7d-4ced-b07a-53acf4f773f8.png)

[2021-09-05 02:03] rusefillc commented on #31
@andreika-git in my opinion there is signal that https://github.com/andreika-git/hellen-one/wiki/module-input needs additional clarification

[2021-09-05 13:47] rusefillc commented on #22
This is now https://github.com/andreika-git/hellen-one/wiki/Dumb-Coils-Igniters

[2021-09-15 06:35] andreika-git opened #23 "bom_replace_88bmw-a.csv has errors"
"U105,""STM32F429ZGT6"",""LQFP144"",""C1337111"""

1) Wrong syntax - too many quotes (all over the csv file)
2) C1337111 != STM32F429ZGT6

[2021-09-15 20:29] Qwerty-OFF commented on #2
@OrchardPerformance please close ticket if that's what we need
![image](https://user-images.githubusercontent.com/4116383/133504851-f8e98a42-c81c-476a-96cf-d8124bc897bd.png)

[2021-09-15 20:38] Qwerty-OFF commented on #3
@OrchardPerformance Did you check how to connect the lamp?

[2021-09-15 20:45] Qwerty-OFF commented on #5
Now we can use pins 14 or 41. @OrchardPerformance please close ticket if this is final solution for rev. a

[2021-09-15 20:52] Qwerty-OFF commented on #10
We can use second channel in VR module for this

[2021-09-15 21:00] Qwerty-OFF commented on #21
Currently in use C96446
![image](https://user-images.githubusercontent.com/4116383/133508672-1dc15fed-7a85-4b16-a9fc-ceefeaffc158.png)

[2021-09-16 18:37] Qwerty-OFF commented on #31
@mck1117 is it ok? 6pin for TPS?
![image](https://user-images.githubusercontent.com/4116383/133666405-52c8adee-a58a-40e4-ab1e-16d7482c59e4.png)
![image](https://user-images.githubusercontent.com/4116383/133666423-db100b07-9458-47fc-9f84-61890f09a84c.png)

[2021-09-16 18:52] Qwerty-OFF commented on #30
Okay, with plastic screws and nuts, this is not a problem.

[2021-09-16 19:23] rusefillc commented on #30
@stefanst please order plastic spacers

[2021-09-16 19:43] stefanst commented on #30
I think I will wait with ordering hardware until I have a board in hand. I probably have what's needed to make at least on unit.

[2021-09-16 19:46] rusefillc commented on #30
@stefanst are you hinting at the history of delays, broken promises and missing any reasonable schedule here?!

[2021-09-16 20:14] stefanst commented on #30
I am not hinting at that at all. I just don't have the time to try and figure out what's needed by first trying to figure out where to look for documentation etc. That's at least an hour out of my life trying to figure it out, still leaving me with a 50% chance of getting it wrong, because I'm a doofus. When I have HW in my hand chances of success should increase to at least 75% first try.

[2021-10-04 14:43] rusefillc commented on #29
@andreika-git @Qwerty-OFF does anyone remember what is this about?

[2021-10-04 20:37] rusefillc commented on #31
Yes 6pin for TPS looks OK

[2021-10-12 01:03] rusefillc opened #28 "Rename pin net"
OUT_PUMP does it mean OUT_FUEL_PUMP?

[2021-10-19 17:52] rusefillc opened #27 "Enlarge PCB header holes to reduce PCB header install stress"
Chinese PCB headers are not extremely straight

We shall make holes just a bit bigger to make our life easier

[2021-10-20 20:10] rusefillc commented on #31
@Qwerty-OFF good to close?

[2021-10-20 20:10] rusefillc opened #26 "Replace BOOT0 silk with PROG"
![image](https://user-images.githubusercontent.com/48498823/138164586-35ed8510-f35a-4e7a-9b66-6bb22c9eb19a.png)

[2021-10-20 20:12] rusefillc opened #25 "Migrate from MAX992x to vr-discrete"
please use vr-discrete instead of MAX992x VR

[2021-10-20 20:20] stefanst commented on #25
Should this be tagged as "Rev-X"?

[2021-10-20 20:25] Qwerty-OFF commented on #31
At now we are using 2.54mm header. If the next revision is significantly changed (total reroute), it is necessary to replace them with Xn-H connectors

[2021-10-22 04:46] rusefillc commented on #32
Beer makes a valid point that Bosch vs Siemens is not understandable by real humans.

[2021-10-22 14:21] rusefillc opened #24 "Add MCU wiki URL on first page of schematics"
Let's mention
https://github.com/andreika-git/hellen-one/wiki/module-mcu
on the first page of the schematics

at the moment the value of https://github.com/andreika-git/hellen-one/wiki/module-mcu link is referencing https://github.com/rusefi/rusefi/blob/master/firmware/config/boards/hellen/hellen_meta.h

[2021-10-23 03:26] stefanst opened #33 "Fuses too close to IGBTs for hand soldering"
![image](https://user-images.githubusercontent.com/709317/138540766-15fc0214-16e8-4797-ae3d-042d575ce6d6.png)
Possible solutions:
- Have fuses as DNP and hand-solder after IGBTs have been added
- Move fuses to a more convenient location

[2021-10-23 03:40] rusefillc commented on #33
* move R23 and shift IGBTs away from fuses?

* rotate fuses and have R14 between fuse and IGBT?

[2021-10-23 03:40] rusefillc commented on #33
* move R14 to back side of PCB?

[2021-10-23 03:42] rusefillc commented on #21
@Qwerty-OFF can we close this one?

[2021-10-23 03:42] rusefillc commented on #18
@Qwerty-OFF can we close this one?

[2021-10-23 03:43] rusefillc commented on #13
lolololo @stefanst can totally check now, as long as the sun rises around 7:16 AM

[2021-10-23 04:10] stefanst commented on #33
R14 is not really the issue as far as I can see.
The IGBTs need some pad area for cooling. The more the better. That would be made more difficult if they got turned.

Somewhat related question: Why are R14 et al so big? Looks like they're just for logic-level switching.

[2021-10-23 04:12] rusefillc commented on #33
We do not want spark to jump R14 gap. It's about open air distance when we play dumb coils

Not turning IGBTs but turning fuses, with R14 between fuse and IGBT

[2021-10-23 04:34] stefanst commented on #33
That makes sense!

[2021-10-23 11:43] Qwerty-OFF commented on #21
Yes

[2021-10-23 11:43] #21 closed, assigned to ivanchuba

[2021-10-23 11:52] Qwerty-OFF commented on #18
Yes, we have good diodes for IDLE (2 wires), VVT and I don’t know why for EVAP

[2021-10-23 12:15] #18 closed, assigned to ivanchuba

[2021-10-30 01:12] stefanst opened #34 "All DNP jumpers are populated"
JP6, JP 20, JP 21, JP 41 and JP 56 should be DNP as per the schematic. They are, in fact, populated though.
![image](https://user-images.githubusercontent.com/709317/139514968-54a77785-ed0a-4091-bbb8-10ebd91fb40f.png)
![image](https://user-images.githubusercontent.com/709317/139515001-5a8e475b-51f8-4819-99e8-a7a2f31f12f7.png)
![image](https://user-images.githubusercontent.com/709317/139515030-fb63

[2021-11-02 19:49] OrchardPerformance opened #35 "Board might fit 55 pin case with minimal mods."
Looks like this form factor would just about fit the 55 pin case.
Maybe a couple of mods and a 55 pin connector footprint would be enough to call this a 55?

[2021-11-02 20:28] rusefillc commented on #35
@OrchardPerformance need more data

[2021-11-02 20:35] OrchardPerformance commented on #35
Hmm. Pictures did not load. ![20211102_183747.jpg](https://user-images.githubusercontent.com/49926376/139947341-eab633f2-90af-41ea-aac8-12f19c345ebc.jpg)![20211102_183757.jpg](https://user-images.githubusercontent.com/49926376/139947431-6ccf5c14-b595-42f5-a6ea-236ef0429285.jpg)![20211102_183905.jpg](https://user-images.githubusercontent.com/49926376/139947849-094a02e0-421e-42eb-be9e-6febc77535ae.j

[2021-11-07 01:02] OrchardPerformance opened #36 "Bench test problem"
I tried to bench test coil 1 and received the following error

![image](https://user-images.githubusercontent.com/49926376/140628455-5c5f4ee8-20f7-49f4-b60a-1fe02d207858.png)

[2021-11-07 02:13] OrchardPerformance opened #37 "Injector channels not firing"
I cannot seem to detect any injector outputs triggering while the board is in self stim mode.

I have probed around with the oscilloscope and there seems to be no output but it hard to be sure I am probing the correct pins to be sure.
Schematic says pins are E25, 26, 29, 30, 31, 32, 33, 34.
It is not clear exactly which pins that is on the module.

[2021-11-07 02:26] rusefillc commented on #37
@OrchardPerformance tunes are useful for troubleshooting
@OrchardPerformance logs are also pretty useful

[2021-11-07 12:56] OrchardPerformance commented on #37
Closing this as it seems the drivers only fire when there is 12v supply.

Leaving this as a reminder to put a note into the documentation that bench testing with only 5v supply will not allow injector drivers to be tested.

[2021-11-07 12:56] #37 closed, assigned to nobody

[2021-11-07 19:58] OrchardPerformance opened #38 "Latest firmware causes an error"
No settings changed, board was DFU updated and plugged in, fresh TS project using the .ini in the ECU.

![image](https://user-images.githubusercontent.com/49926376/140659833-1afe1b1e-0504-4b2b-9ba1-6bec103ea5d5.png)

I am going to try a fill erase and then flash the firmware incase it is a leftover setting.

[2021-11-07 19:58] mck1117 commented on #38
that's not firmware, that's an error in the ini itself

[2021-11-07 19:59] mck1117 commented on #38
and this is not bmw specific

[2021-11-07 20:43] OrchardPerformance opened #39 "Main and Pump pins default set wrong in"
Default settings loaded with the firmware has the main relay and fuel pump relay pins incorrectly set.
![image](https://user-images.githubusercontent.com/49926376/140661268-f6dbc855-1e8a-4edc-afa4-551230368114.png)

[2021-11-07 20:44] OrchardPerformance commented on #39
Should be as below:

![image](https://user-images.githubusercontent.com/49926376/140661306-3499df6a-c5b1-4ba1-89c7-2a94eea22bd2.png)

[2021-11-08 00:54] rusefillc commented on #39
@BeerMoneyMotorsports here is a nice ticket. totally perfect to use images here since images are relaying only two values not 192 values

[2021-11-11 00:47] stefanst opened #40 "Idle valve outputs not available in TS"
Hellen BMW 88pin has dual-output for opening/closing the IAC valve. Those outputs cannot be selected in TS. They need to be added. They should also be added to the bench-test menu.

[2021-11-11 01:10] stefanst opened #41 "VVT (VANOS) output not available for GPPWM"
It should also be available in bench test.

[2021-11-11 01:42] stefanst opened #42 "TS: MAP pin can't be selected for MAP input"

[2021-11-11 01:56] rusefillc commented on #42
@stefanst you should use "Aux MAP" - it's there since yesterday

![image](https://user-images.githubusercontent.com/48498823/141223269-6e7db5e6-b019-4580-8438-3fec97f6053a.png)

[2021-11-11 02:00] stefanst opened #43 "Narrowband O2 sensor(s) not connected on board"
Pin 13 should be the signal for the NBO2 sensor on the M3.3.1 (m50). It seems to be disconnected. Pin 12 should also be an NBO2 signal on additional engines. It also seems to be disconnected.

[2021-11-11 02:00] rusefillc commented on #41
@stefanst it's INJ7/VVT please forgive me :(

![image](https://user-images.githubusercontent.com/48498823/141223656-3cbefd2c-4ecb-4c68-aa92-e7b55a62d1d8.png)

[2021-11-11 02:00] rusefillc commented on #41
bench test for VVT actuator a great proposal

[2021-11-11 03:30] stefanst commented on #42
It was not available in my 3 day-old FW/INI. It IS available with the latest.

[2021-11-11 03:30] #42 closed, assigned to stefanst

[2021-11-16 00:19] rusefillc opened #44 "VR input is flipped"
https://rusefi.com/forum/viewtopic.php?p=43207#p43207

[2021-11-16 04:22] rusefillc commented on #44
![image](https://user-images.githubusercontent.com/48498823/141914744-b4d8511e-3ccf-4627-8bd1-18f5fdd43083.png)

[2021-11-28 02:25] rusefillc commented on #34
https://github.com/andreika-git/hellen-one/issues/78

[2021-12-04 02:22] rusefillc opened #45 "Migrate to Output-0.3"
See andreika-git/hellen-one#118

[2021-12-04 02:24] rusefillc opened #46 "TLS115D0EJXUMA1 for sensor 5v"
See andreika-git/hellen-one#119

[2022-02-17 19:27] rusefillc opened #47 "Schematics usability: make ETB stuff a bit more visible"
We need a a blue comment next to J19 articulating that it's "drive-by-wire motor connector"

Also add explicit "Electronic Throttle Body/ETB where it says just ETB in the top-right corner of my snippet

![image](https://user-images.githubusercontent.com/48498823/154555958-8f543f1c-51ea-4b44-8017-ffdcf478baaf.png)

[2022-06-18 12:42] rusefillc opened #48 "huge vias under H-bridge"
same pattern of improved manual soldering

[2022-06-18 12:45] rusefillc opened #49 "latest versions of all modules"
i assume we have fresh IGN?

also dirty hack of https://github.com/andreika-git/hellen-one/issues/168

[2022-06-19 07:11] Qwerty-OFF commented on #26
![image](https://user-images.githubusercontent.com/4116383/174470005-731451db-9ee1-48e7-af81-738caa81bcec.png)

[2022-06-19 07:11] #26 closed, assigned to Qwerty-OFF

[2022-06-19 07:15] Qwerty-OFF commented on #44
Fixed

[2022-06-19 07:15] #44 closed, assigned to nobody

[2022-06-19 07:19] Qwerty-OFF commented on #47
![image](https://user-images.githubusercontent.com/4116383/174470248-1cf0c90d-0905-4424-8063-ce1879df49e0.png)

[2022-06-19 07:19] #47 closed, assigned to Qwerty-OFF

[2022-06-19 07:30] Qwerty-OFF commented on #48
![image](https://user-images.githubusercontent.com/4116383/174470583-ec8f4277-a2d3-4169-8a52-7ddace5adfa7.png)

[2022-06-19 07:30] #48 closed, assigned to Qwerty-OFF

[2022-06-19 07:48] Qwerty-OFF commented on #49
Updated

[2022-06-19 07:48] #49 closed, assigned to Qwerty-OFF

[2022-06-20 22:23] Qwerty-OFF commented on #27
0.762 mm -> 1.2 mm

[2022-06-20 22:23] #27 closed, assigned to Qwerty-OFF

[2022-06-20 22:54] rusefillc commented on #3
@Qwerty-OFF do we have at least a via?

[2022-06-20 22:54] rusefillc commented on #9
@Qwerty-OFF do we have at least a via?

[2022-06-20 22:56] #19 closed, assigned to ivanchuba

[2022-06-20 22:57] rusefillc commented on #43
we need just vias for now

[2022-06-20 23:04] Qwerty-OFF commented on #3
Via in rev. a
Connected now:
![image](https://user-images.githubusercontent.com/4116383/174687021-c4b4e593-e269-4d7d-9223-f8d7d510bd82.png)

[2022-06-20 23:04] #3 closed, assigned to Qwerty-OFF

[2022-06-20 23:06] Qwerty-OFF commented on #22
Already done in rev. a

[2022-06-20 23:06] #22 closed, assigned to Qwerty-OFF

[2022-06-20 23:10] Qwerty-OFF commented on #28
Fixed

[2022-06-20 23:10] #28 closed, assigned to Qwerty-OFF

[2022-06-20 23:26] Qwerty-OFF commented on #33
IGBT moved left 2mm
![image](https://user-images.githubusercontent.com/4116383/174688447-49918492-00fa-46a4-b6ff-2055ef3dd9da.png)

[2022-06-20 23:26] #33 closed, assigned to Qwerty-OFF

[2022-06-21 07:21] Qwerty-OFF commented on #23
Fixed

[2022-06-21 07:21] #23 closed, assigned to Qwerty-OFF

[2022-06-21 07:24] Qwerty-OFF commented on #45
Duplicate #49

[2022-06-21 07:24] #45 closed, assigned to Qwerty-OFF

[2022-06-21 07:26] Qwerty-OFF commented on #43
Already in rev. a

[2022-06-21 07:26] #43 closed, assigned to Qwerty-OFF

[2022-06-21 08:11] Qwerty-OFF commented on #46
Done

[2022-06-21 08:11] #46 closed, assigned to Qwerty-OFF

[2022-06-21 09:04] Qwerty-OFF commented on #34
Fixed

[2022-06-21 09:04] #34 closed, assigned to nobody

[2022-07-01 17:16] rusefillc opened #50 "Trigger loss at 6k or 6.6k on dyno"
One run we got trigher errors at 6600

Majority of runs we get constant trigher error at 6k

That's running crank only on max9926

[2022-07-01 17:17] mck1117 commented on #50
post TS trigger log at idle

[2022-07-01 17:21] rusefillc commented on #50
tune https://rusefi.com/online/view.php?msq=1097

[e36 triger log idle 2022-07-01_13.19.16.zip](https://github.com/rusefi/hellen88bmw-issues/files/9030646/e36.triger.log.idle.2022-07-01_13.19.16.zip)

[2022-07-01 17:23] mck1117 commented on #50
there's some setting like "show logic levels" in the trigger config, can you toggle that and grab another?

[2022-07-01 17:25] rusefillc commented on #50
it already claims to be

![image](https://user-images.githubusercontent.com/48498823/176941901-920540ee-f1c6-4940-9204-e64b39442a72.png)

[2022-07-01 17:43] mck1117 commented on #50
Turn if off then? That's why I said toggle.

[2022-07-01 17:58] rusefillc commented on #50
Sorry I misread that :(

[2022-07-10 14:58] rusefillc opened #51 "smaller igniter ISL9V3040D3ST"
![image](https://user-images.githubusercontent.com/48498823/178150282-27028be9-b9e8-4fe6-baeb-cbf3e753f79d.png)

[2022-07-10 14:59] rusefillc commented on #51
@Qwerty-OFF any alternatie part numers on www.findchips.com or www.octopart.com?

[2022-07-10 15:01] rusefillc commented on #50
@stefanst also https://github.com/rusefi/rusefi/wiki/Trigger-Configuration-Guide

[2022-07-10 15:26] Qwerty-OFF commented on #51
[FGD3440G2-F085](https://octopart.com/fgd3440g2-f085-onsemi-87655028?r=sp)
[FGD3040G2-F085](https://octopart.com/fgd3040g2-f085-onsemi-87655026?r=sp)
[LGD8205ATI](https://octopart.com/lgd8205ati-littelfuse-107256474?r=sp)

[2022-07-26 10:06] rusefillc opened #52 "analog VR hardware mod"
default BOM makes a MAX9926 board

for analog VR mode we shall
* remove JP16 and JP43
* GND connector side of JP43 (?)
* run a wire from connector side of JP16 to TBD

![image](https://user-images.githubusercontent.com/48498823/180980945-fedc3d83-497e-48f6-970a-8cbb74bb0895.png)

![image](https://user-images.githubusercontent.com/48498823/180981078-7b4c0a1b-f8a1-475b-84e8-199e1f02079a.png)

[2022-08-10 14:42] rusefillc opened #53 "injectors area assembly"
![image](https://user-images.githubusercontent.com/48498823/183930654-26bd1738-2279-4ba2-b6fb-586f6a224096.png)

@stefanst is asking

I have to populate Q305 - Q312, can they bridge at the tips?

[2022-08-10 14:44] rusefillc commented on #53
those large pads in the middle are actually not connected to anything

![image](https://user-images.githubusercontent.com/48498823/183930974-21984ed4-0e2f-43e8-a28c-8e5292242f2e.png)

which does not directly answer your question by itself :)

i believe that answer depends on the part number you are going to be using! the larger pad is not connected because for different drivers it actually does a

[2022-08-10 17:48] stefanst opened #54 "Populate new boards"
This is the status of the new boards I received. I assume they are Rev B.
![image](https://user-images.githubusercontent.com/709317/183981040-56e47f57-2f20-45ec-91e6-b937e99114c0.png)
What parts do I need to add at this point?
I know of:
- Injector drivers
- Igniters
- MAP sensor
What else should be populated and where does it go? I do not have access to secret Hellen Modules layout, so if Hellen

[2022-08-10 18:03] rusefillc commented on #54
(Injector drivers + Igniters + MAP sensor + MAX9926 if plan to use it) seems like the complete list!

and https://github.com/rusefi/hellen88bmw-issues/issues/52 covers the analog VR side of fun

[2022-08-10 18:05] rusefillc commented on #54
PS: I have forgotten about U7 TLS115, did I by any chance ship those? that's for +5v sensor supply